ul {
  list-style: none;
}
.container {
  display: grid;
  grid-template-columns: 300px 800px;
  justify-items: center;
}
li {
  width: 200px;
  margin: 10px 10px 0 0;
  padding: 5px 5px 0 45px;
  background-repeat: no-repeat;
  background-position: left center;
  text-align: left center;
  background-size: 40px;
}
.active {
  background-color: blue;
  color: white;
}

img {
  width: 400px;
  height: auto;
}
div.label {
  grid-column-start: 2; /* start at column line 1 */
  grid-column-end: 3; /* end at column line 4 */
  grid-row-start: 2; /*start at row line 2 */
  grid-row-end: 3; /* end at row line 4 */
}
